[x-cloak] {
  display: none !important;
}

.logo_img {
  width: 80px !important;
}
.logo_img_footer {
  width: 100px !important;
}
.hidden_dropdown {
  position: absolute;
  background: white;
  right: 0;
  width: 100%;
  top: 15vh;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}
.dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 99999999;
  max-height: 210px;
  transition: all 0.5s ease-in;
}
.drop_div,
.drop_div_services {
  transition: 0.5s ease-out;
}
.drop_active {
  padding-block: 4px;
  max-height: 500px;
  transition: 0.5s ease-in;
}
@layer base {
  .dark .bg-red-100 {
    background-color: #1a202c;
  }

  .dark .text-black {
    color: #e2e8f0;
  }

  .dark .bg-yellow-300 {
    background-color: #7e7230;
  }
}
.font-asap {
  font-family: "Asap" !important;
}

@media only screen and (min-width: 992px) {
  .hidden_dropdown {
    display: flex;
    align-items: center;
    position: static;
    background: initial;
    width: initial;
    opacity: 1;
    visibility: visible;
    height: initial;
  }
  .fa-bars {
    display: none !important;
  }
  .dark .hidden_dropdown {
    background-color: transparent; /* Dark mode background color */
  }
}
